{% extends 'base.html.twig' %}

{% block content %}
    <div class="block">
        <a class="button is-primary" href="{{ path('topic_add') }}">Create Topic</a>
    </div>

    <table class="table is-bordered topic-list">
        <thead>
        <tr>
            <td>Topic</td>
            <td>Last Comment</td>
            <td>Comments</td>
        </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
            <tr>
                <td>
                    <a href="{{ path('topic_view', { topic: topic.id }) }}">{{ topic.title }}</a>
                </td>
                <td class="last-comment">
                    <a href="#{{ topic.commentId }}">{{ topic.commentCreatedAt|date('d M Y H:i') }}</a>
                </td>
                <td>{{ topic.totalComments }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav class="pagination is-centered">
        <ul class="pagination-list">
            <li><a class="pagination-link">1</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-link">45</a></li>
            <li><a class="pagination-link is-current">46</a></li>
            <li><a class="pagination-link">47</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-link">86</a></li>
        </ul>
    </nav>
{% endblock %}