{% extends 'base.html.twig' %}

{% block content %}
    <div class="block">
        <a class="button is-primary" href="{{ path('topic_add', {category: category.id}) }}">Create Topic</a>
    </div>

    <table class="table is-bordered topic-list">
        <thead>
        <tr>
            <td>Topic</td>
            <td>Last Comment</td>
            <td>Comments</td>
        </tr>
        </thead>
        <tbody>

        {% for topic in topics %}
            <tr>
                <td>
                    <a href="{{ path('topic_view', { topic: topic.id }) }}">{{ topic.title }}</a>
                </td>
                <td class="last-comment">
                    <a href="#{{ topic.commentId }}">{{ topic.commentCreatedAt|date('d M Y H:i') }}</a>
                </td>
                <td>{{ topic.totalComments }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'partials/pagination.html.twig' with {
        paginator: topics,
        currentPage: currentPage,
        itemsPage: maxTopicsPage,
        uri: path('category_topics', { category: category.id }) ~ '?page='
    } only %}

{% endblock %}