<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ (title|default(false)) ? title~' - Symfony Forum':'Symfony Forum' }}</title>

    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
</head>
<body>

<div class="container">
    <nav class="nav has-shadow">

        <div class="nav-menu nav-left">
            <a href="/" class="nav-item">Symfony Forum</a>
        </div>

        {% if app.user != null %}
            <!-- Logged In -->
            <div class="nav-menu nav-right nav-logged-user">
                <div class="nav-item is-hidden-mobile">
                    <span class="icon">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    </span>
                    <span>{{ app.user.username }}</span>
                </div>
                <div class="nav-item">
                    <a href="#" class="button is-link is-primary is-inverted">
                        My Profile
                    </a>
                </div>
                <div class="nav-item">
                    <a href="{{ path('logout') }}" class="button is-link is-primary is-inverted">
                        Logout
                    </a>
                </div>
            </div>
        {% else %}
            <!-- Guest -->
            <div class="nav-right nav-menu">
                <div class="nav-item">
                    <a href="{{ path('login') }}" class="button">
                    <span class="icon">
                      <i class="fa fa-sign-in"></i>
                    </span>
                        <span>Log In</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="{{ path('signup') }}" class="button is-primary">
                    <span class="icon">
                      <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                        <span>Register</span>
                    </a>
                </div>
            </div>
        {% endif %}

        <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </nav>
</div>

<section class="section">
    <div class="container">

        {% if breadcrumbs is defined and breadcrumbs %}
            {% include 'partials/breadcrumbs.html.twig' %}
        {% endif %}

        {% if title is defined %}
            <h1 class="title is-1">{{ title }}</h1>
        {% endif %}

        {% block content %}{% endblock %}
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Symfony Forum</strong> is a forum powered by <a href="http://symfony.com" target="_blank">Symfony</a>.
            </p>
            <p>
                <a class="icon" href="#">
                    <i class="fa fa-github"></i>
                </a>
            </p>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ asset('js/main.js') }}"></script>
</body>
</html>